<h2>Edit Crud</h2>
<form action ="/update_crud/<%= @crud.id %>">
  <input type = "text" name = "title" value = "<%= @crud.title %>">
  <input type = "text" name = "url" value = "<%= @crud.url %>">
  <input type = "submit">
</form>