<h2> New Crud </h2>

<form action="create_crud">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="favorite food" placeholder="favorite food">
   <input type="text" name="favorite show" placeholder="favorite show">
  <input type="submit">
</form>